.icon-spinner {
  transition: all 2s;
  visibility: visible;
  font-size: 70px;
  position: relative;
}

.spinCustom {
  position: absolute;
  left: 5rem;
  top: 2.5rem;
}

.icon-noshow {
  transition: all 2s;
  visibility: hidden;
  font-size: 70px;
  position: relative;
}
