html {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  min-height: 100%;
}

header {
  padding: 15px;
}


.box {
  background: #e1e5ea;
  position: absolute;
  z-index: -1;
}

body {
  width: 100%;
  height: 200px;
  margin: auto;
}

main {
  background: white;
}

h1 {
  color: #3c3c3c;
}

*,
::after,
::before {
  box-sizing: border-box;
}


.title {
  margin: auto;
  font-size: 50px;
  font-family: karla;
  vertical-align: middle;
  color: #3c3c3c;
}

.galr {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.colls {
  background: white;
  padding-bottom: 150px;
}

.jumbotron .container {
  background: white;
}

img {
  transition: all 2s;
  margin: 10px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 3px 0px rgba(0, 0, 0, 0.23);
}

h3{
  letter-spacing: 1px;
}

h5{
  letter-spacing: 1px;
}

.name,
.bio {
  transition: all 2s;
}

.no-show {
  visibility: hidden;
  border-radius: 3%;
  position: absolute;
}

img,
.show {
  visibility: visible;
  border-radius: 3%;
  padding: 10px -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.des {
  white-space: nowrap;
  text-align: center;
  margin-left: .7rem;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;

}

.a:focus,
.a:hover {
  color: transparent;
}

.a:focus:after,
.a:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: #fff;
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  max-width: 20rem;
  border: 1px solid #eaebec;
  padding: 0 .5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .28);
  white-space: normal;
  word-wrap: break-word;
  display: block;
  color: black;
  margin-top: -1.25rem;
}

.animateOut {
  opacity: 0;
}

.animateIn {
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: .2;
  }
  70% {
    opacity: .4;
  }
  80% {
    opacity: .6;
  }
  90% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: .2;
  }
  70% {
    opacity: .4;
  }
  80% {
    opacity: .6;
  }
  90% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: .2;
  }
  70% {
    opacity: .4;
  }
  80% {
    opacity: .6;
  }
  90% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-m {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  margin: auto;
  left: 50%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-c {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  bottom: -25%;
  padding: 0;
  border: 1px solid #888;
  border-radius: 2%;
  width: 23em;
  height: 20em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

h3 {
  padding-top: 5%;
}

h5 {
  padding-top: 20%;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-h {
  padding: 2px 16px;
  color: white;
}

.modal-b {
  padding: 2px 16px;
}

.modal-f {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
